#-------------------------- general para -----------------------#
#choose function: 0-decode,1-num|den,2-FA,3-CM
func_chosen = 2

#choose num&den function: 0-num&den,1-den,2-num(only valid for func_chosen = num&den)
num_den_chosen = 0

#choose type : 0-GMM,1-BN,2-DNN(RNN)
type_chosen = 2

#choose level : 0-state,1-triphone,2-word(only valid for FA)
level_chosen = 0

#rescoring : 0-no rescoring,1-rescoring
rescoring = 0

#lattice nbest num
lattice_nbest_num = 1

#choose output type: 0-string,1-binary (only valid for FA and Lattice)
output_type = 0

#output tail's description(default: result for Decode, mlf_fa_ph for FA, lat for Lattice)
output_description = mlf_fa_ph

#physical hmm id (only valid for binary Lattice output)
isyms_map = ../acmod/phyhmm2isym.list

#input label tail's description(only valid for FA and Num&Den)
mlf_description = mlf_sy

#max audio number loaded in memory every time
max_memory_audio_num = 1000

#----------------------- Acmod Model Resouse --------------------#
#acmod resource
acmod_res = ./atom_acmod_dnn_c.bin

#hmmlist(only valid for Num&Den)
hmm_res = ./hmmlist.final

#--------------------- Language Model Resouse ------------------#
#wfst resource
wfst_res = ../lm/SRF20141031/atom_wfst.bin.SRF20141031_dict_mv

#fst bin(include L.fst,C.fst,A2.fst---only valid for FA and Num&Den)
fst_res = ./fst.bin

#------------------------ scale and beam -----------------------#
#acmod scaling
AM_scale = 1

#acmod beam
AC_beam = 500

#LM scaling for onepass
LM_scale = 13

#decode beam
gen_beam = 200

#word penalty for onepass
word_penalty = 5

#decode histgram
hist_threshold = 7500

#lattice beam
lattice_beam = 1

#------------------------- rescoring --------------------------#
#ULM resource(only valid for Rescoring = 1)
ulm_name = ../lm/SRF20141031/lm.SRF20141031_others2.class.4gram.friday.bin

#rescore lm scale
rescore_scale = 15

#rescore word penalty
rescore_word_penalty = 5

#--------------------------- MLP -----------------------------#
MLP 
{
	type = DNN
	feat_inc = 1 # trag_frame = 1
	left_context = 5
	right_context = 5
	weight_file = mlp.9.wts
	prior_file = state.input.dnnfa.txt
	norm_file = fea.norm
	layer_size = 825,2048,2048,2048,2048,2048,2048,9004

	#0-linear 1-sigmoid 2-relu 3-softmax
	active_function = 0,1,1,1,1,1,1,3
	feat_dim = 75
	feat_descript = fea
	prior_scale = 0.8
	scale = 1
}


